



<section id="footer" class="blk-background red-border">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 footer-brand pt-2">
                <h2>
                    TOP BIDDER
                </h2>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-12 col-sm-4 footer-details ">
                <h2>
                    Contact Us<br>
                    0300 320320
                </h2>
            </div>
            <div class="col-12 col-sm-4 footer-details">
                <div>
                    <h2>
                        <address>
                            Top Bidder Ltd<br>
                            101 King street<br>
                            London<br>
                            LN10 4FK<br>
                        </address>
                    </h2>
                </div>
            </div>
            <div class="col-12 col-sm-4 footer-details ">
                <h2>
                    Customer Service<br>
                    admin@topbidder.co.uk
                </h2>
            </div>

        </div>
    </div>
</section>