
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid ">
            <h1 class="navbar-brand" >Top Bidder</h1>
            <button class="nav-button navbar-toggler d-sm-none" type="button" data-bs-toggle="collapse" 
            data-bs-target="#collapsibleNavbar" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
            </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="link" href="{% url 'home' %}"><i class="fa-solid fa-house mr-1"></i>Home</a>
                </li>
                
                <li class="nav-item">
                <a class="link" href=""><i class="fa-solid fa-upload mr-1"></i>Link</a>
                </li>
                
                <!-- right side -->
                
                {% if user.is_authenticated %}
                <li class="nav-item ms-sm-auto"> 
                <p class="username"><i class="fa-solid fa-user mr-1"></i>{{ user.username }}</p>
                </li> 
                <li class="nav-item mt-1" >
                <form action="{% url 'accounts:logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary"  aria-label="Log out">Logout</button>
                </form>
                </li> 
                {% else %}

                <!-- Log in Section-->
                <li class="nav-item mt-1 ms-sm-auto">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-label="Log in">Log In</button>
                    <ul class="dropdown-menu">

                        <li class="blk-background pt-3" >
                            <a data-bs-toggle="collapse" data-bs-target="#create">Create an account</a>
                            <!-- Register form -->
                            <div id="create" class="collapse">
                                <div class="row jcc">
                                    <form method="post" action="{% url 'accounts:register' %}">
                                        {% csrf_token %}
                                        <div class="col-12 mt-3 jcc">
                                        <label for="first_name"></label>
                                        <input type="text" name="first_name" placeholder="First Name">
                                        </div>

                                        <div class="col-12 mt-2 jcc">
                                        <label for="last_name"></label>
                                        <input type="text" name="last_name" placeholder="Last Name">
                                        </div>

                                        <div class="col-12 mt-2 jcc">
                                        <label for="username"></label>
                                        <input type="text" name="username" placeholder="Username">
                                        </div>

                                        <div class="col-12 mt-2 jcc">
                                        <label for="password1"></label>
                                        <input type="password" name="password1" placeholder="Password">
                                        </div>

                                        <div class="col-12 mt-2 jcc">
                                        <label for="password2" ></label>
                                        <input type="password" name="password2" placeholder="Confirm Password">
                                        </div>

                                        <div class="col-12 mt-3">
                                        <label for="submit" ></label>
                                        <button type="submit" class="btn btn-primary"  aria-label="submit">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>

                        <!-- Login form -->
                        <li>
                            <div class="row jcc">
                                <form method="post" action="{% url 'accounts:login' %}">
                                    {% csrf_token %}
                                    <div class="col-12 mt-3 jcc">
                                        <label for="username" ></label>
                                        <input type="text" name="username" placeholder="Username">
                                    </div>
                                    <div class="col-12 mt-2 jcc">
                                        <label for="password" ></label>
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="col-12 mt-3">
                                        <label for="log in"></label>
                                        <button type="submit" class="btn btn-primary" aria-label="Log in" >Log In</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

