{% load cloudinary %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Bidder</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"  rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <main>


        <!-- Navbar -->

        {% include 'includes/navbar.html' %}

<!-- <section id="home-display" >
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col-12">
                  <select id="select-category" class="form-select" >
                    <option value="vehicle" >Vehicles</option>
                    <option value="household" >Household</option>
                    <option value="electrical" >Electrical</option>
                    <option value="garden" >Garden</option>

                  </select>
                </div> 
            </div>
            <div class="row">
              <div id="vehicle" class="category-display">showing vehicle</div>
              <div id="household" class="category-display">showing household</div>
              <div id="electrical" class="category-display"></div>
              <div id="garden" class="category-display">showing garden</div>
            </div>
        </div> 
</section> -->

<section id="home-listings" >
      <div class="container-fluid">
              <!-- Auction vehicles -->
              <div class="col-12">
                {% if listings %}
                  {% for listing in listings %}
                    <div class="row mb-3 border-bottom pl-1 pt-2">


                      <div class="col-4 img-box">
                          {% if listing.image1 %}
                              <img src="{{ listing.image1.url }}" class="img-fluid rounded pb-2" alt="{{ listing.make }} {{ listing.model }} {{ listing.id }}"
                              data-bs-toggle="modal"  data-bs-target="#imageModal{{ listing.id }}
                              ">
                          {% else %}
                              <img src="{% static 'images/sample_image.jpg' %}" class="img-fluid rounded" alt="Sample image">
                          {% endif %}
                      </div>


                      <div class="col-8 details-box d-flex flex-column justify-content-between">
                        <a href="{% url 'vehicle' listing.id %}" class="text-decoration-none text-dark">
                            <h4>{{ listing.make }} {{ listing.model }} {{listing.year}}</h4>
                        </a>
                            <div id="countdown" >countdown..</div>
                            <h3>£{{listing.starting_price}}</h3>
                      </div>  
                    </div>



                    <!-- Image Modal -->
                    <div class="modal fade" id="imageModal{{ listing.id }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">

                          <!-- Modal Header -->
                          <div class="modal-header jcc">
                            <h4 class="modal-title">{{ listing.make }} {{ listing.model }} </h4>
                          </div>

                          <!-- Modal body -->
                          <div class="modal-body">
                            {% if listing.image1 %}
                              <img src="{{ listing.image1.url }}" class="img-fluid rounded" alt="{{ listing.make }} {{ listing.model }} {{ listing.id }}"
                              data-bs-toggle="modal"  data-bs-target="#imageModal{{ listing.id }}
                              ">
                          {% else %}
                              <img src="{% static 'images/sample_image.jpg' %}" class="img-fluid rounded" alt="Sample image">
                          {% endif %}
                          </div>

                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>

                        </div>
                      </div>
                    </div>

                  {% endfor %}
                {% else %}
                    <h1>No vehicles..</h1>
                {% endif %}
              </div>
            </div>
      </div>
  </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/time.js' %}" ></script>
    <script src="{% static 'js/main.js' %}" ></script>




  </body>
</html>
